/**
 * Company Website
 * @author Ignacio Ricci <ignacio.ricci@gmail.com>
*/

/* Assets URL
---------------------------------- */

@if($environment == 'production'){
  $sass-core-assets-url:'CDN';
  $website-assets-url:'CDN' !default;
}
@else {
  $sass-core-assets-url:'../../node_modules/democompany-sass-core/assets/images';
  $website-assets-url:'../../assets/images' !default;
}

/* Dependencies
---------------------------------- */

@import 'node_modules/democompany-sass-helpers/styles/scss/_sass-helpers.scss';
@import 'node_modules/democompany-sass-core/styles/scss/_sass-core.scss';

/* Project CSS
---------------------------------- */

@import '_website';